<div class="py-4">
    <h1 class="text-center mb-3">Valorant Weapons</h1>
    <div class="row w-100 m-0">
        <div class="col-lg-3 col-md-6 p-2" *ngFor="let weapon of weaponList">
            <div class="position-relative rounded-2 item-shop bg-white" style="height: 200px; background-image: linear-gradient(to bottom, #c4c4c4, #a5a5a5, #878787, #6a6a6a, #4f4f4f);">
                <img class="img-fluid w-100 h-100 position-absolute top-50 bottom-50 translate-middle-y" style="object-fit: contain;" src="{{weapon.displayIcon}}"/>
                <div class="position-absolute top-0 bottom-0 w-100 iteam-shop-details rounded-2 p-3 text-center d-flex flex-column justify-content-center align-items-center"
                    style="background-color: rgba(0, 0, 0, 0.6); opacity: 0;">
                    <h2>{{weapon.displayName}}</h2>
                    <button class="btn btn-danger" (click)="openModal(weapon, content)">Details</button>
                </div>
            </div>
        </div>
    </div>

    <ng-template #content class="modal fade">
        <div class="modal-body rounded-2 text-white m-0 w-100 row bg-dark">
            <div style="height: 90vh;" class="col-6">
                <div class="position-absolute bottom-0 top-0 w-50">
                    <img class="img-fluid w-100 h-100 position-absolute top-50 bottom-50 translate-middle-y"
                        style="object-fit: contain;" src="{{selectedWeapon.displayIcon}}" />
                </div>
            </div>
            <div class="col-6 d-flex flex-column justify-content-between rounded-2 p-2"
                style="background-color: rgba(0, 0, 0, 0.5);">
                <div class="d-flex justify-content-between">
                    <h1 class="text-center mx-3 fst-italic" style="font-size: 4.3rem">Weapon:
                        {{selectedWeapon.displayName}}</h1>
                    <button type="button" class="btn-close bg-danger" style="width: 2rem; height: 2rem;"
                        (click)="closeModal()"></button>
                </div>
                <div class="px-3">
                    <div class="rounded-2 p-3 m-2 d-flex justify-content-between align-items-center" style="background-color: rgba(0, 0, 0, 0.4);">
                        <h2 class="text-center">Category</h2>
                        <h4 class="m-0">{{selectedWeapon.shopData.category}}</h4>
                    </div>
                </div>
                <div class="px-3">
                    <div class="rounded-2 p-3 m-2" style="background-color: rgba(0, 0, 0, 0.4);">
                        <h2 class="text-center">Weapon States</h2>
                        <div class="mb-2 px-2 rounded-2" style="background-color: rgba(255, 255, 255, 0.3);" *ngFor="let rangeDamage of selectedWeapon.weaponStats.damageRanges">
                            <div class="d-flex justify-content-between align-items-center">
                                <h2 class="text-center">Range</h2>
                                <h4 class="m-0">{{rangeDamage.rangeStartMeters}}m -> {{rangeDamage.rangeEndMeters}}m</h4>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <h2 class="text-center">Head Damage</h2>
                                <h4 class="m-0">{{rangeDamage.headDamage}}</h4>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <h2 class="text-center">Body Damage</h2>
                                <h4 class="m-0">{{rangeDamage.bodyDamage}}</h4>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <h2 class="text-center">Leg Damage</h2>
                                <h4 class="m-0">{{rangeDamage.legDamage}}</h4>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <h2 class="text-center">Fire rate</h2>
                            <h4 class="m-0">{{selectedWeapon.weaponStats.fireRate}}</h4>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <h2 class="text-center">Magazine</h2>
                            <h4 class="m-0">{{selectedWeapon.weaponStats.magazineSize}}</h4>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <h2 class="text-center">Reload Time</h2>
                            <h4 class="m-0">{{selectedWeapon.weaponStats.reloadTimeSeconds}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>